core.Microsoft*
core.mongo*
core.python*
env.py
.venv
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json

catboost_info

inputs/
outputs/datasets/cleaned

Notes.ipynb
00_Notebook_Template.ipynb